<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="footer-list">
          <li>
			<div id="logo" title="18MR.org Logo">
				<div>
					<a href="{{ site:baseurl }}/index.html"><span></span></a>
				</div>
			</div>
		  </li>
          <li><h2>{{ site.description }}</h2></li>
		  <li>
		  	<div class="copy-logo">©</div>
			<span>18MR.org. <a href="{{ site:baseurl }}/copyleft/">Some rights reserved</a>.</span>
		  </li>
		  <li>
			<form id="sitesearch" action="https://duckduckgo.com" method="get" target="_new">
			<div>
			<input type="text" name="q" value="">
			<input type="submit" value="search">
			</div>
			</form>
			<script>
				jQuery(function($) {
					$('#sitesearch').submit(function() {
						var txt = $('input[name=q]');
						txt.val("site:18millionrising.org " + txt.val());
					});
				});
			</script>
		  </li>
        </ul>
	  </div>

      <div class="footer-col  footer-col-2">
        <ul class="footer-list">
			<li><h2>Follow Us</h2></li>
			<li>
				<ul class="footer-list">
					<li class="circle horizontal">
						<div class="socialmedia facebook" title="Facebook">
						<a href="{{ site.facebook }}"><span></span></a>
						</div>
					</li>
					<li class="circle horizontal">
						<div class="socialmedia twitter" title="Twitter">
						<a href="{{ site.twitter_username }}"><span></span></a>
						</div>
					</li>
					<li class="circle horizontal">
						<div class="socialmedia tumblr" title="Tumblr">
						<a href="{{ site.tumblr }}"><span></span></a>
						</div>
					</li>
					<li class="circle horizontal">
						<div class="socialmedia instagram" title="Instagram">
						<a href="{{ site.insta }}"><span></span></a>
						</div>
					</li>
					<li class="circle horizontal">
						<div class="socialmedia rss" title="RSS">
						<a href=""><span></span></a>
						</div>
					</li>
				</ul>
			</li>
			<li><h2>Get Email Updates</h2></li>
			<li>Stay connected to 18MR.org's campaigns and plug into our national network for Asian American & Pacific Islander activism.</li>
			<li id="email-signup"><link href='https://actionnetwork.org/css/style-embed-whitelabel.css' rel='stylesheet' type='text/css' /><script>window.yepnope || document.write('<script src="https://actionnetwork.org/includes/js/yepnope154-min.js"><\/script>');</script><script src='https://actionnetwork.org/widgets/v2/petition/sign-up-for-18mr-updates?format=js&source=footer&style=full'></script><div id='can-petition-area-sign-up-for-18mr-updates' style='width: 300px'><!-- this div is the target for our HTML insertion --></div></li>
			<script type="text/javascript">
				$(document).ready(function() {
					$(document).on('can_embed_submitted', function() {
						$("#can_thank_you h1").html("Thanks for Subscribing!");
					});
				});
			</script>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
		<div class="col3">
		<div class="left-list">
			<h2>Sections</h2>
			<ul>
			<li>
				<a href="{{ site.baseurl }}/category/ideas/index.html">Ideas</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/category/culture/index.html">Culture</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/category/identities/index.html">Identities</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/category/communities/index.html">Communities</a>
			</li>
			<li>
				<a href="http://action.18mr.org">Action</a>
			</li>
			</ul>
		</div>
		<div class="right-list">
			<h2>18MR.ORG</h2>
			<ul class="right-list">
			<li>
				<a href="{{ site.baseurl }}/about">About</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/pitch">Pitch</a>
			</li>
			<li>
				<a href="http://action.18mr.org">Campaigns</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/category/releases/index.html">Press</a>
			</li>
			<li>
				<a href="https://github.com/18mr/18mr/issues">Tech Support</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/about#contact">Contact</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/privacy">Privacy</a>
			</li>
			</ul>
		</div>
		</div>
      </div>
    </div>

  </div>

</footer>
