<header class="mobile">
	<div class="wrapper">
		<div class="mobileheader">
		<div id="open-menu" title="Open mobile menu">
			<div>
				<a href="#opensesame"><span></span></a>
			</div>
		</div>
	
		<div id="logo" title="18MR.org Logo">
			<div>
				<a href="{{ site:baseurl }}/index.html"><span></span></a>
			</div>
		</div>
		
		<div id="mobilemenu" class="visuallyhidden">
		<nav id="mobile-fixed">
			<ul>
				<li>
					<a href="http://action.18mr.org">Action</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/category/communities/index.html">Communities</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="https://action.18mr.org/donate/">Donate</a>
				</li>
				<!--<li>
					<a href="{{ site.baseurl }}/category/ideas/index.html">Ideas</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/category/culture/index.html">Culture</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/category/identities/index.html">Identities</a>
				</li> -->
				
	
				<li class="circle">
					<div class="socialmedia facebook" title="Facebook">
					<a href="{{ site.facebook }}"><span></span></a>
					</div>
				</li>
				<li class="circle">
					<div class="socialmedia twitter" title="Twitter">
					<a href="{{ site.twitter_username }}"><span></span></a>
					</div>
				</li>
				<li class="circle">
					<div class="socialmedia tumblr" title="Tumblr">
					<a href="{{ site.tumblr }}"><span></span></a>
					</div>
				</li>
				<li class="circle">
					<div class="socialmedia instagram" title="Instagram">
					<a href="{{ site.insta }}"><span></span></a>
					</div>
				</li>
			</ul>
		</nav>
	</div>
	
		</div>
	</div>

</header>

<header class="desktop">

	<div class="wrapper">

		<div id="logo" title="18MR.org Logo">
			<div>
				<a href="{{ site:baseurl }}/index.html"><span></span></a>
			</div>
		</div>
	
	<div class="navbar">
		<nav id="top-links">
			<ul>
				<li>
					<a href="http://action.18mr.org">Action</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/category/communities/index.html">Communities</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="https://action.18mr.org/donate/">Donate</a>
				</li>
				<li>
				<!--	<a href="{{ site.baseurl }}/category/ideas/index.html">Ideas</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/category/culture/index.html">Culture</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/category/identities/index.html">Identities</a>
				</li> -->
				
				
				<li class="circle">
					<div class="socialmedia facebook" title="Facebook">
					<a href="{{ site.facebook }}"><span></span></a>
					</div>
				</li>
				<li class="circle">
					<div class="socialmedia twitter" title="Twitter">
					<a href="{{ site.twitter_username }}"><span></span></a>
					</div>
				</li>
				<li class="circle">
					<div class="socialmedia tumblr" title="Tumblr">
					<a href="{{ site.tumblr }}"><span></span></a>
					</div>
				</li>
				<li class="circle">
					<div class="socialmedia instagram" title="Instagram">
					<a href="{{ site.insta }}"><span></span></a>
					</div>
				</li>
			</ul>
		</nav>
	</div>
		
	</div>

</header>
