.cat-title {
	text-align: left;
	font-size: 4em;
}

#cat-top {
	width: 100%;
	float: none;
	
	li {
		text-align: left;
	}
	
	.cat-featured {
		margin: 0;
		float: none;
	}
}

.cat-remainder {
	width: 60%;
	float: left;
	
	.cat-featured{
		display: none;
	}
}