header {

	padding-left: 10px;
	padding-right: 10px;
  
	#register-widget {
		background-color: $the-green;
		height: 105px;
		float: left;
		width: 300px;
		margin: 0 10px;
		@include radius(0 0 10px 10px);
		padding: 0 10px;
		margin-right: 0;
		margin-left: 90px;
		@include bsizing(border-box);
		padding: 5px;
	
		h3 {
			font-size: 26px;
			margin-bottom: 0;
			margin-top: 0;
			text-align: center;
			color: white;
		}
		
		h4 {
			font-size: 16px;
			margin-top: 57px;
			text-align: center;
			line-height: 0;
		}
	  
		span {
			background-color: $the-blue;
			display: inline-block;
			padding: 3px 5px;
			font-size: 1.2em;
			@include radius(5px);
			float: right;
			color: white;
			font-family: roc-grotesk-wide, sans-serif;
			font-weight: 600;
			font-style: normal;
			text-transform: uppercase;
			border: 0;
			width: 150px;
			margin-right: 65px;
			margin-left: 65px;
			margin-top: 10px;
			@include bshadow(2px 3px 0px #bacc3f);
  
			&:hover {
				@include fade-transition(background-color 500ms);
				background-color: $the-pink;
			}
		}
	}
}

.navbar {

	padding-top: 25px;
	display: inline;
	
	nav#top-links {
		display: inline-block;
		padding-top: 20px;
  
		ul {
			margin: 0 auto;
			height: 40px;
	  
			li {
				display: inline-block;
				font-size: 17px;
				padding: 9px 20px;
				text-align: center;
				position: relative;
				margin-top: 15px;
				margin-left: -4px;
				
				&.circle {
					margin-bottom: -18px;
					padding-right: 0;
				}
							
				ul.dropdown {
					position: absolute;
					top: 40px;
					z-index: 9000;
				
					li {
						border-radius: 0;
						border: 0;
						margin: 0;
					}
				}
		
				a {
					color: $the-gray;
					font-size: 20px;
					text-decoration: none;
					ffont-family: roc-grotesk-wide, sans-serif;
					font-weight: 600;
					font-style: normal;
					text-transform: uppercase;
					display: block;
					height: auto;
					
					&:hover {
						color: $the-pink;
						@include fade-transition(color 500ms);
					}
				}
			
				a.active {
					color: $the-yellow;
				}
			}
		}
	}
}