/**
 * Clickable pretty logos and buttons
 */
#logo {
	float: left;
	padding: 15px 0;
	*zoom: 1;
	margin-left: 0;

	div {
		float: left;
		margin-right: 20px;
		background-image: url("../static/images/header-logo-sprite.png");
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 131px;
		height: 85px;
		position: relative;
		
		span {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-image: url("../static/images/header-logo-sprite.png");
			background-repeat: no-repeat;
			background-position: 0 -85px;
			opacity: 1;
			@include fade-transition(opacity 0.5s);
  
			&:hover {
				opacity: 0;
			}
		}
	
	}

	hgroup {
		padding: 25px 0 15px 40px;
  
		h1 {
			font-size: 48px;
			line-height: 40px;
			margin: 0;
			font-weight: bold;
		}
	
		h2 {
			margin: 0;
			font-size: 18px;
		}
	}

	&:before, &:after {
		content: "";
		display: table;
	}
 
	&:after {
		clear: both;
	}
}

.socialmedia {
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 32px;
	height: 32px;
	position: relative;
	
	span {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-repeat: no-repeat;
		background-position: 0 -33px;
		opacity: 1;
		@include fade-transition(opacity 0.5s);

		&:hover {
			opacity: 0;
		}
	}
}
				
.facebook {
	background-image: url("../static/images/icons/facebook.png");
	
	span {
		background-image: url("../static/images/icons/facebook.png");
	}
}
				
.twitter {
	background-image: url("../static/images/icons/twitter.png");
	
	span {
		background-image: url("../static/images/icons/twitter.png");
	}
}
	
.tumblr {
	background-image: url("../static/images/icons/tumblr.png");
		
	span {
		background-image: url("../static/images/icons/tumblr.png");
	}
}
				
.instagram {
	background-image: url("../static/images/icons/instagram.png");
	
	span {
		background-image: url("../static/images/icons/instagram.png");
	}
}

.rss {
	background-image: url("../static/images/icons/rss.png");
	
	span {
		background-image: url("../static/images/icons/rss.png");
	}
}

/**
 * Site header
 */
.mobile {
	display: none;
}
 
.desktop {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    padding: 20px 0 10px 0;
	border-top: 1px $the-gray solid;
	clear: both;
	
	#logo {
		float: none;
		padding: 0 0 15px 0;
	}
}

.copy-logo {
	display: inline-block;
	-webkit-transform: scale(-1, 1);
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-list {
    list-style: none;
    margin-left: 0;
	
	h2 {
		margin: 0;
	}
}

.horizontal {
	display: inline-block;
	margin: 10px;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
	padding-left: 0;
}

.footer-col-2 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
	padding-right: $spacing-unit / 2;
	padding-left: 0;
}

ul#footer {
	margin: 0 auto;
	height: 40px;
	  
	li {
		display: inline-block;
		padding: 5px 30px 0 0;
		font-size: 17px;
		position: relative;
		
		a {
			color: $the-pink;
			font-size: 18px;
			text-decoration: none;
			font-family: 'league-gothic';
			text-transform: uppercase;
			display: block;
			height: auto;
		}

		a:hover {
			color: $the-gray;
			@include fade-transition(color 500ms);
		}
	}
}

.left-list {
	float: left;
}

.right-list {
	float: right;
}

#sitesearch {
	margin-top: $spacing-unit / 2;
}

/**
  * Body
  */

home {
	width: 640px;
}

.post {
	width: 55%;
	float: left;
}

h2 {
	font-size: 28px;
	margin-bottom: 5px;
}

/**
  * Homepage
  */

#index-welcome {

	h1 {
		font-size: 48px;
	}
}

.featured-post {
	padding: 15px;
	margin-bottom: 15px;
	
	.featured-thumb {
		width: 40%;
		float: left;
		margin-right: 15px;
	}
	
	h1 {
		text-align: center;
		font-size: 28px;
	}
	
	h3 {
		text-transform: uppercase;
		text-align: center;
		margin-top: 15px;
		font-size: 18px;
	}
	
	h3.category {
		margin-top: 0;
		color: lighten($the-gray, 40%);
	}
	
	.blurb {
		text-align: justify;
		line-height: 1.3em;
		font-style: italic;
	}
}



/**
 * Page content
 */
.page-content {
	
	.wrapper {
	
		.feature-banner {
			margin-bottom: $spacing-unit;
		}
	
		.home {
			width: 60%;
			float: left;
		}
	}
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
	padding-right: 15px;

    > li.post-preview {
        margin-bottom: $spacing-unit;
		
		&:after {
			@extend %clearfix;
		}
    }
	
	.blurb {
		line-height: 18px;
	}	
}

.post-meta {
    font-size: $base-font-size;
    color: $grey-color;
	text-transform: capitalize;
	margin-bottom: 5px;
	line-height: 1.5em;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
	padding: 0;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($medium) {
        font-size: 36px;
    }
}

.post-content {

    h2 {
        font-size: 28px;

        @include media-query($medium) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($medium) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($medium) {
            font-size: 18px;
        }
    }
}

#disqus_thread {
	margin: $spacing-unit / 2 0;
}

.socialshare {
    text-align: center;
	
	span {
		background-color: $the-pink;
		display: inline-block;
		padding: 5px 8px;
		font-size: 1.8em;
		@include radius(5px);
		color: white;
		font-family: "league-gothic";
		text-transform: uppercase;
		border: 0;
		width: 150px;
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 20px;
 
		&:hover {
			@include fade-transition(background-color 500ms);
			background-color: darken($the-pink, 25%);
		}
	}

    a {
        font-weight: 400;
        color: #fff;
    }
}

.featurebox {
	@include radius(10px);
	padding: 1em;
	background: $the-light-beige;
	margin-bottom: 1.2em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	
	ul {
		font-size: 14px;
		line-height: 2.14em;
	}
}

/**
 * Social Sidebar
 */
 
.actionbutton {
	background-color: $the-pink;
	padding-top: 2px;
	margin-top: 10px;
	@include radius(10px);
	
	a {
		color: #ddd;
	}
	
	&:hover {
		background-color: darken($the-pink, 25%) !important;
		@include fade-transition(background-color 500ms);
	}
}
 
#social-sidebar {
	float: right;
	width: 40%;
	text-align: center;
	
	.featured-campaign {
		padding: 10px;
		border: 1px solid lighten($the-gray, 70%);
		margin-bottom: 15px;
		
		.campaign-title {
			font-family: 'league-gothic';
			font-size: 1.7em;
			text-transform: uppercase;
		}
		
		.campaign-blurb {
			font-style: italic;
			line-height: 1.2em;
			text-align: center;
		}
	}
	
	.fb-page {
		margin: 15px 0;
		width: 100%;
		border: 1px solid lighten($the-gray, 70%);
		padding: 10px 0;
	}
}