---
layout: sidebar-page
---
{% if page.groputype == 'category' %}
	<h1>{{ page.category }}
{% endif %}

{% for post in paginator.posts %}
	<li>
	    {% if post.featured-image %}
          <img src="{{ post.featured-image }}" class="featured" alt="{{ post.featured-alt-text }}">
		{% else %}
		  <img src="{{ site.baseurl }}/static/images/featured/default.png" class="featured" alt="18MR logo, default featured image">
		{% endif %}
	    <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • By {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</span>
		<br />
		<span class="blurb">
		  {{ post.blurb | truncatewords: 125, '...' }} <a href="{{ post.url | prepend: site.baseurl }}">Read More</a>
		</span>
      </li>
{% endfor %}

{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% if paginator.previous_page %}
			<span class="pag-link"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></span>
		{% else %}
		{% endif %}

		{% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
				<span id="the-page">{{ page }}</span>
			{% elsif page == 1 %}
				<span><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></span>
			{% else %}
				<span><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></span>
			{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
			<span class="pag-link"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></span>
		{% else %}
		{% endif %}
	</div>
  {% endif %}