---
layout: sidebar-page
---
{% if page.grouptype == 'category' %}
	<h1 class="cat-title">{{ page.category }}</h1>
{% endif %}

<ul class="post-list" id="cat-top">
{% for post in paginator.posts limit:1 %}
	<li>
	    <a href="{{ post.url | prepend: site.baseurl }}">{% if post.featured-image %}
          <img src="{{ post.featured-image }}" class="featured cat-featured" alt="{{ post.featured-alt-text }}">
		{% else %}
		{% endif %}
		</a>
	    <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • By {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
		<p class="blurb">
		  {{ post.blurb | truncatewords: 200 }}
		</p>
      </li>
{% endfor %}
</ul>

<ul class="post-list" id="cat-remainder">
{% for post in paginator.posts offset:1 %}
	<li>
		<a href="{{ post.url | prepend: site.baseurl }}">{% if post.featured-image %}
			<img src="{{ post.featured-image }}" class="featured cat-featured" alt="{{ post.featured-alt-text }}">
		{% else %}
		{% endif %}
		</a>
	    <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • By {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
		<p class="blurb">
		  {{ post.blurb | truncatewords: 125, '...' }} <a href="{{ post.url | prepend: site.baseurl }}">Read More</a>
		</p>
      </li>
{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% if paginator.previous_page %}
			<span class="pag-link"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></span>
		{% else %}
		{% endif %}

		{% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
				<span id="the-page">{{ page }}</span>
			{% elsif page == 1 %}
				<span><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></span>
			{% else %}
				<span><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></span>
			{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
			<span class="pag-link"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></span>
		{% else %}
		{% endif %}
	</div>
  {% endif %}