---
layout: default
---
<div class="release">
	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
	</header>
	
	<article class="post-content">
	
		{{ content }}
		
		<div class="about-18mr">
		<p>### </p>

		<p><strong>About 18MillionRising.org (18MR.org)</strong>: 18MR.org is an unprecedented Asian American Pacific Islander online organizing and civic engagement organization that leverages the power of technology and social media to advocate for justice for our communities and allies. 18MR is comprised of a network of a AAPI activists, artists, organizations, and digital media influencers, ranging from community based organizations and print magazines to Asian American blogs and YouTube channels. By harnessing cutting edge online tools and tried-and-true organizing methods, 18MR.org creates opportunities for popular education and wins campaigns to shift policy, culture, and corporate behavior to help build a more just, equitable society for and with the diverse communities comprising over 18 million Asian Americans and Pacific Islanders nationwide.</p>
		</div>
	</article>
	
  <div class="socialshare">
    <span><a href="https://twitter.com/intent/tweet?text={{ page.tweet }}&url={{ site.url }}{{ page.permalink }}&via={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Share on Twitter</a></span>
    <span><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.permalink }}">Share on Facebook</a></span>
  </div>

</div>